---
title: Hopper Naturals
---
/! Banner
section#banner
  .content
    header
      h2 Hopper Naturals
      p
        | Cruelty Free.
        br/
        | Inspired by nature.
    span.image
      img alt="" src="img/pic01.jpg" /
  a.goto-next.scrolly href="#one"  Next
/! One
section#one.spotlight.style1.bottom
  span.image.fit.main
    img alt="" src="img/pic02.jpg" /
  .content
    .container
      .row
        .4u class="12u$(medium)"
          header
            h2 Natural blends that work with your body
            p 0% Petroleum Byproducts. 100% Healing.
        .4u class="12u$(medium)"
          p
            | The human body can do some amazing things. Sometimes though, it needs a boost
            | to tackle the elements. Dried out lips can be healed by a number
            | of balms and creams, but too many lip products use petroleum
            | byproducts, which overtime cause the body to produce less of it's
            | own naturals oils and cause of sort of dependence.
        div class=("4u$ 12u$(medium)")
          p
            | Hopper Naturals unique blend work with the body, to provide
            | immediate relief and encourage the body to produce it's own oils.
            | Starting with our base of coconut oil, to our special blend of
            | essential oils that have been used for thousands of years.

  a.goto-next.scrolly href="#two"  Next
/! Two
section#two.spotlight.style2.right
  span.image.fit.main
    img alt="" src="img/pic03.jpg" /
  .content
    header
      h2 Quality
      p What you see is what you get
    p By sourcing our ingredients from only the best suppliers, we can guarantee our products are 100% organic and 100% pure. Some of the "big name" brands choose to save money by using cheaper ingredients, but also run the risk of introducing impurities.
    ul.actions
      li
        a.button href="#"  Learn More
  a.goto-next.scrolly href="#three"  Next
/! Three
section#three.spotlight.style3.left
  span.image.fit.main.bottom
    img alt="" src="img/pic04.jpg" /
  .content
    header
      h2 Every purchase supports charity
      p We donate a portion of all our sales to charities that support rescued animals
    p 
    ul.actions
      li
        a.button href="#"  Learn More
  a.goto-next.scrolly href="#four"  Next
/! Four
section#four.wrapper.style1.special.fade-up
  .container
    header.major
      h2 Accumsan sed tempus adipiscing blandit
      p Iaculis ac volutpat vis non enim gravida nisi faucibus posuere arcu consequat
    .box.alt
      .row.uniform
        section.4u class=("6u(medium) 12u$(xsmall)")
          span.icon.alt.major.fa-heart
          h3 Ipsum sed commodo
          p Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.
        section.4u class=("6u$(medium) 12u$(xsmall)")
          span.icon.alt.major.fa-comment
          h3 Eleifend lorem ornare
          p Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.
        section class=("4u$ 6u(medium) 12u$(xsmall)")
          span.icon.alt.major.fa-flask
          h3 Cubilia cep lobortis
          p Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.
        section.4u class=("6u$(medium) 12u$(xsmall)")
          span.icon.alt.major.fa-paper-plane
          h3 Non semper interdum
          p Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.
        section.4u class=("6u(medium) 12u$(xsmall)")
          span.icon.alt.major.fa-file
          h3 Odio laoreet accumsan
          p Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.
        section class=("4u$ 6u$(medium) 12u$(xsmall)")
          span.icon.alt.major.fa-lock
          h3 Massa arcu accumsan
          p Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.
    footer.major
      ul.actions
        li
          a.button href="#"  Order Now
/! Five
section#five.wrapper.style2.special.fade
  .container
    header
      h2 Sign up to receive 10% off
      p We won't spam you, enter your email and receive a coupon towards your first purchase
    form.container action="#" class="50%" method="post"
      .row.uniform class="50%"
        .8u class="12u$(xsmall)"
          input#email name="email" placeholder=("Your Email Address") type="email" /
        div class=("4u$ 12u$(xsmall)")
          input.fit.special type="submit" value=("Get Started") /
